[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "alphavantagepf"]
	path = alphavantagepf
	url = https://github.com/derekholmes0/alphavantagepf
